a{
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}
a:visited{
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body,html{
    height:100vh;
    margin:0em;
    scroll-behavior: smooth;
    color: #2B2B2B;
}

button{
    color: #DE1300;
    background-color: transparent;
    font-family: "Ubuntu", Arial, sans-serif;
    font-size: 1em;
    outline: none;
    border: none;
}
button:hover{
    font-size: 1.3em;
    cursor: pointer;
}
button span{
    display: block;
    position: relative;
    transition: 0.3s;
}

h1{
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 200;
}

h2{
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 200; 
}

input[type=text]{
    outline: none;
    border-style: hidden hidden solid hidden;
    border-width: .1em;
    border-color: #DE1300;
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 200;
    font-size: .9em;
    max-width: 2.3em;
}

p{
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 200;
}

td, th{
    padding-left: 5em;
    border-collapse: collapse;
    text-align: left;
}

.bold{
    font-weight: 700;
}

.container{
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.child{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    position: relative;
}

.dot{ /*heutink-ict.nl*/
    color: #DE1300;
    font-size: 1.5em;
}

/* iframe{
    position: absolute;
    width:29%;
    height:45%;
    margin-left: 50%;
    margin-bottom: 50%;
} */

#page0{
    text-align: center;
    justify-content: center;
    padding-top: 2em;
}

::selection{
    background: #DE1300;
    color: white;
}

@media screen and (max-width:600px){
    /*call function mobile();*/
}