a{
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}
a:visited{
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body,html{
    height:100vh;
    margin:0em;
    scroll-behavior: smooth;
    color: #2B2B2B;
}

button{
    color: #DA2410;
    background-color: transparent;
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-size: 1em;
    outline: none;
    border: none;
}
button:hover{
    font-size: 1.3em;
    cursor: pointer;
}
button span{
    display: block;
    position: relative;
    transition: 0.3s;
}

h1,h2,p,ul{
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.3em;
    list-style-type: circle;
}

h1{
    text-align: center;
}

iframe{
    padding: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type=text]{
    outline: none;
    border-style: hidden hidden solid hidden;
    border-width: .1em;
    border-color: #DA2410;
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-weight: 200;
    font-size: .9em;
    max-width: 2.3em;
}

label{
    cursor: text;
}

td, th{
    padding-left: 5em;
    border-collapse: collapse;
    text-align: left;
}

.bold{
    font-weight: 700;
}

.button{
    color: white;
    background-color: #DA2410;
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-weight: 200;
    font-size: .9em;
    outline: none;
    border: none;
    border-radius: 3px;
    border: solid;
    border-color: #C20D0E;
    border-width: .1em;
    padding: .9em;
}
.button:hover{
    font-size: .9em;
    background-color: #AA1B0D;
    border-color:#89160A;
}

.dot{ /*heutink-ict.nl*/
    color: #DA2410;
    font-size: 1.5em;
}

#page0{
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 3em;
}

::selection{
    background: #DA2410;
    color: white;
}